<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    var li_list = document.getElementById('listToDestroy').querySelectorAll('li')
    for (var i = 0; i < li_list.length; i++) {
      (function (i) {
        li_list[i].onclick = function () {
          li_list[i].remove();
        }
      })(i);
    }
  </script>
</head>

<body>
  <ul id="listToDestroy">
    <li>
      <a href="#">1</a>
    </li>
    <li>
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">3</a>
    </li>
    <li>
      <a href="#">4</a>
    </li>
  </ul>
</body>

</html>